* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  color: #fff;
  overflow: hidden;
}
h3 {
  color: #fff !important;
}

a {
  color: #fff !important;
  font-style: none;
  text-decoration: none !important;
  text-align: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.conteiner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  gap: 10px;
  margin-bottom: 3rem;
  background-color: #0d1117;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.shadow {
  box-shadow: 0px 3px 7px #00000044;
}
.links_conteiner {
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.links {
  padding: 0;
  width: 140%;
  min-width: 200px;
  height: fit-content;
  background-color: #212830;
  border: 1px solid;
  border-radius: 6px;
  border-color: #3d444d;
  box-shadow: 0px 2px 6px 0px #000000;
  font-size: 1.2rem;
}
.links a {
  padding-bottom: 0.2;
  padding-top: 0.2;
}
.links:hover {
  background-color: #2e3742;
  transition: all 0.2s ease-in-out;
}

a {
  padding: 0.3rem 0rem 0.3rem 0rem !important;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
}

.tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.github,
.linkedin,
.instagram {
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.github:hover {
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: brightness(0) saturate(100%) invert(10%) sepia(76%) saturate(4173%)
    hue-rotate(258deg) brightness(88%) contrast(115%);
}
.linkedin:hover {
  filter: brightness(0) saturate(100%) invert(26%) sepia(98%) saturate(1631%)
    hue-rotate(181deg) brightness(97%) contrast(92%);
}

.instagram:hover {
  filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(4898%)
    hue-rotate(284deg) brightness(92%) contrast(118%);
}
